.tarjeta {
    margin: 10px;
    background-color: #f8ebbe;
    border-radius: 5px;
    max-width: 300px;
    height: 650px;
    display: inline-block;
    overflow: hidden;
    transition: all 0.4s ease;
}
.tarjeta:hover{
    box-shadow: 2px 2px 5px #000000;
}

.tarjeta img {
    width: 250px;
    height: 250px;
    margin: 20px;
    transition: all 0.3s ease;
}

.tarjeta img:hover {
    transform: scale(1.2);
   
    

}

#tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

h3 {
    display: flex;
    background-color: #e7cba4;
    height: 3em;
    font-size: 1.3em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tarjeta p {
    
    margin-top: 20px;


}
.precio {
    font-family: Verdana;
    margin-left: 1.5em;
    position: static;
    font-size: 1.5em;
    border: 0px;
    bottom: 0;

}
.precio::first-letter{
    font-size: 1.2em;
}
.categoria{
    margin-left: 10px;
}
.desc{
    text-align: left;
    
    margin:10px;
}