
/*  HEADER  */
.logo {
    width: 50px;
    float: left;
}

header {
    width: 100%;
    text-align: right;
}

h1 {
    background-color: bisque;
    padding: 0.3em;
    margin-left: 0px;
}

.form-nav {
    text-align: center;
    margin: 0;
    width: auto;
    height: 50px;
    background-color: gold;
}

.form-nav input {
    height: 85%;
    margin: 5px;
    width: 50%;
}

.form-nav button {
    height: 45px;
    width: 45px;
    
}


/*FIN HEADER*/

/*MAIN*/
main {
    background-color: aliceblue;
}

h2 {
    background-color: aqua;
    text-align: center;
}

.container {
    text-align: center;
}

.container a {
    width: 400px;
    /* Ajusta el ancho de acuerdo a tus necesidades */
    height: 400px;
    /* Ajusta la altura de acuerdo a tus necesidades */
    display: inline-block;
    margin: 10px;
    /* Espacio entre las imágenes */
    border: 3px;
    border-style: solid;

}

.container a img {
    width: 300px;
    height: 300px;
}

a p {
    font-size: 2em;
}


form {
    width: 60%;
    text-align: center;
    margin: 0;
}

input {
    border: solid black 0.1em;
    border-radius: 0.3em;
    
}

/*FIN MAIN*/

/*FOOTER*/
footer {
    position: sticky;
    bottom: 0;
    width: 100%;

}

footer p {
    text-align: center;
    background-color: brown;
    padding: 0.3em;
}

footer nav {
    text-align: center;
    background-color: yellowgreen;
    padding: 0.3em;
}

/*FIN FOOTER*/
