.tarjeta {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px #888;
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    height: 700px;
    display: inline-block;
}
.tarjeta img {
    width: 250px;
    height: 250px;
}
#tarjetas-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}